<div class="bg-dark p-4">
    <div class="d-flex justify-content-center align-items-center">
        <div class="mr-4 text">
            <span class="oi oi-phone"></span> +45 50 00 00 00
        </div>
        <a class="text" href="mailto:mailme@undercovers.com">
            <span class="oi oi-envelope-closed"></span> mailme@undercovers.com
        </a>
    </div>
</div>