@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <NavMenu/>

        <div class="content pb-3">
            @Body
        </div>
        
        <Footer/>
    </div>
</div>