@inherits LayoutComponentBase

<div class="page">
    <div class="main d-flex flex-column">
        <header>
            <NavMenu/>
        </header>

        <main class="pb-3">
            @Body
        </main>

        <div class="mt-auto">
            <Footers/>
        </div>
    </div>
</div>