.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar {
    background-color: #330480;
}

nav {
    padding: 0.5rem 1rem;
}

.oi {
    font-size: 1.2rem;
    margin-right: .5rem;
    top: 2px;
}

.nav-item ::deep a {
    color: #d7d7d6;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 767.98px) {
    .nav-item {
        margin-left: .75rem;
    }
    
    .oi-cart {
        transform: scale(1.25);
    }
    
    .navbar-nav button {
        border-radius: 20px;
        margin-left: 1.25rem;
        padding: 0 1.75rem;
    }
}