@using SEP3UI.Authentication
@inject NavigationManager nav

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">    
        <img src="Images/undercoverslogo.png" alt="Under Covers logo" style="height: 50px"/>
    </a>
    <button class="navbar-toggler ml-auto" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse @NavMenuCssClass">
        <ul class="navbar-nav ml-auto">
            <AuthorizeView>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link text-center" href="/ShoppingBasket">
                            <span class="oi oi-cart" aria-hidden="true"></span> Cart
                        </NavLink>
                    </li>
                    <button class="btn btn-info" @onclick="NavigateToLogin">Login</button>
                </NotAuthorized>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link text-center" href="/ShoppingBasket">
                            <span class="oi oi-cart" aria-hidden="true"></span> Cart
                        </NavLink>
                    </li>
                    <li class="nav-item dropdown">
                        <NavLink class="nav-link dropdown-toggle text-center" @onclick="ToggleDropdownMenu">
                            <span class="oi oi-cog" aria-hidden="true"></span> Settings
                        </NavLink>
                        @if (!collapseDropdownMenu) {
                            <div class="d-block dropdown-menu dropdown-menu-right bg-dark">
                                <NavLink class="dropdown-item" href="/categories/new">
                                    <span class="oi oi-plus" aria-hidden="true"></span> Add Item Category
                                </NavLink>
                                <NavLink class="dropdown-item" href="/wishlist">
                                    <span class="oi oi-list" aria-hidden="true"></span> My Wishlist
                                </NavLink>
                                <NavLink class="dropdown-item" href="/account">
                                    <span class="oi oi-person" aria-hidden="true"></span> My Account
                                </NavLink>
                                <NavLink class="dropdown-item" href="/Logout">
                                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                                </NavLink>
                            </div>
                        }
                    </li>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Policy="@Policies.IsAdmin">
                <li class="nav-item">
                    <NavLink class="nav-link text-center" href="/AddItems">
                        <span class="oi oi-plus" aria-hidden="true"></span> Add Items
                    </NavLink>
                </li>
            </AuthorizeView>
        <AuthorizeView Policy="@Policies.IsAdmin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/AddItems">
                    <span class="oi oi-plus" aria-hidden="true"></span>Add Items
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>
@* <div class="hello"> *@
@* <div class="top_bar" id="bottom_bar"> *@
@*     <div class="container"> *@
@*         <div class="row"> *@
@*             <div class="col d-flex flex-row"> *@
@*                 <div class="top_bar_contact_item"> *@
@*                     <div class="top_bar_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div>+91 9823 132 111 *@
@*                 </div> *@
@*                 <div class="top_bar_contact_item"> *@
@*                     <div class="top_bar_icon"> *@
@*                         <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png" alt=""> *@
@*                     </div><a href="mailme@undercovers.com">mailme@undercovers.com</a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* </div> *@
</nav>

@code {
    private bool collapseNavMenu = true;
    private bool collapseDropdownMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
        collapseDropdownMenu = true;
    }

    private void ToggleDropdownMenu() {
        collapseDropdownMenu = !collapseDropdownMenu;
    }

    private void NavigateToLogin() {
        nav.NavigateTo("/login");
    }

    private void NavigateToLogout() {
        nav.NavigateTo("/logout");
    }
}