@page "/Addtems"
@using SEP3UI.Authentication
@using SEP3Library.Models
@attribute [Authorize(Policy = Policies.IsAdmin)]

<h3>Add tems</h3>

Select category: <select class="form-control">
  @foreach (var category in categories) {
    <option>Book</option>

  }

</select>
@code {
  private Item item;
  private IEnumerable<Category> categories; 
  
  protected override async Task OnInitializedAsync() {
    categories = Enum.GetValues(typeof(Category)).Cast<Category>();
  }
}